<h2>Test Component with implementation</h2>

<blockquote>
  <p>"Please disperse. Nothing to see here." - Frank Drebin</p>
</blockquote>

<p>
  This component only exists so we can convenietly use
  <code>moduleForComponent</code> for the tests which check that
  <code>data-test-*</code> attributes are stripped.
</p>